.signinContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  gap: 24px;
}

.faIconPosition {
  float: left !important;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.companyLogo {
  margin-top: 30px;
}
